<div class="search_result_area">
    <div class="book_detail_box">
        <div class="book_detail_box_left">
            <div class="book_detail_box_top">
                <div class="book_detail_box_top_book_text_box" style="width: 100%;">
                    <p><%=row[0].TITLE%></p>
                    <video  style="width: 100%; height: auto;" src="/uploads/<%=row[0].VIDEO_FILE_NAME%>" autoplay controls loop >
                    </video>
                    <p><%=row[0].CONTENT%></p>
                    <%=sess.user.ID%>
                </div>
            </div>
            <div class="book_detail_box_under">
            </div>
        </div>
        <div class="book_detail_box_right" style="width: 270px; max-height: 600px; overflow: auto; overflow-y: scroll; padding-top: 50px;">
            <div class="balloon_02">
                테스트메시지2
            </div>
            <div class="balloon_03">
                테스트메시지3
            </div>
            <div class="balloon_03">
                아 개노잼
            </div>
            <div class="balloon_03">
                이거 왜 봄?
            </div>
            <div class="balloon_02">
                너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.너무 재밌어요.
            </div>
            <div class="balloon_03">
                테스트메시지3
            </div>
            <div class="balloon_03">
                아 개노잼
            </div>
            <div class="balloon_03">
                이거 왜 봄?
            </div>
            <div class="balloon_02">
                너무 재밌어요.너무 재밌어요.
            </div>
            <div class="balloon_02">
                너무 재밌어요.너무 재밌어요.
            </div>
            <div class="balloon_02">
                너무 재밌어요.너무 재밌어요.
            </div>
        </div>
    </div>
</div>